* {

    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#s1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #e1e9f4;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#logo {
    margin-top: 2px;
    margin-left: 60px;
    height: 70px;
    width: 110px;
    background: transparent;

}

.navbar ul {
    display: flex;
    margin-right: 65px;


}


.navbar li {
    list-style: none;
    padding: 25px;
    position: relative;


}

.navbar a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 620;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar a:hover,
.navbar a.active {
    color: rgb(6, 141, 141);
}

.navbar a.active::after {
    content: "";
    width: 20%;
    height: 3px;
    background: rgb(6, 141, 141);
    position: absolute;
    bottom: 20px;
    left: 38px;
}

#banner1 {
    background-image: url(img/about/banner.png);
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#banner1txt {
    padding-top: 50px;
    font-size: 40px;
}

#banner1txt h6 {
    font-weight: 200;
}



#pagec {
    text-align: center;
    margin: 100px 0px;
}

#pagec a {

    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: rgb(78, 164, 164);
    padding: 13px;


}

#banners3 {
    background-color: rgb(5, 26, 49);
    color: white;
    display: flex;
    gap: 30vw;
    margin-top: 80px;

}

#blue {
    padding: 60px;
}

#blue h5 {
    margin-top: 10px;
    opacity: 70%;
}

#blue span {
    color: orange;
    opacity: 100%;
}

.form {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;


}

#email {
    height: 30px;
    width: 380px;
    text-align: center;
}

#Signup {
    height: 40px;
    width: 80px;
    text-align: center;
    background-color: rgb(9, 116, 87);
    color: white;
    font-weight: 500;

}

#logo2 {
    height: 80px;
    margin-top: 0px;
}

#fc {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 8vh;

}

#f1 {
    text-align: start;
    max-width: 300px;
}

#fc h3 {
    font-weight: 320;


}

#fc h3 span {
    font-weight: 700;
}

#contact,
#about,
#myaccount,
#install {
    margin-bottom: 30px;
    text-align: start;
}

#followus {
    margin: 20px 0px;
}

#socialmedia a {
    text-decoration: none;
    color: inherit;
}

.app img {
    border: 1px solid black;
    margin: 10px 0px;

}




#copy {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#pd {
    display: flex;
}

#info {

    margin-left: 8vw;
    width: 40vw;
}

#image img {
    margin-top: 60px;
    margin-left: 60px;
    width: 500px;
    height: 70vh;
}

#info h5 {
    padding-top: 70px;
}

#info h2 {
    padding-top: 30px;
    font-size: 25px;
}

#info h1 {
    padding-top: 10px;
    font-size: 40px;
}

#info p {
    padding-top: 20px;
    font-size: 20px;
    opacity: 60%;
}

#info select {
    margin-top: 20px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px;

}



#info input,
button {
    margin-top: 20px;
    font-weight: 400;
    border-radius: 10px;
    display: block;
    padding: 10px;
}

#info button {
    background-color: #34a1a7;
    color: white;
    font-weight: 600;
    border: 0;
    padding: 10px;
    cursor: pointer;
}

#aboutbox{
    display: flex;
    width: 100%;
    padding: 129px 0px;
    justify-content: center;
    gap: 50px;
}
.aboutimage{
    width: 40%;
    height: 400px;
    box-shadow: 2px 20px 20px 2px rgb(230, 229, 229);
    

}
.aboutimage img{
   height: 100%;
    width: 100%;
    object-fit: cover;
}
.aboutdetails{
    width: 40%;
}
.aboutdetails h2{
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 650;
}
.aboutdetails p{
    font-size: 20px;
    color: gray;
}
marquee{
    padding: 10px;
    color: black;
    background-color: rgb(201, 245, 241);
}
#dapp{
    text-align: center;
    font-size: 40px;
}
#dapp span{
    color: purple;
}
#appvideo {
    
    width: 60%;
    height: 100%;
    margin: 30px auto 30px auto;


}
#appvideo video{
    
    width: 100%;
    height: 100%;
    border-radius: 30px;

}

#feature .fe-box {
    margin-top: 60px;
    width: 180px;
    padding: 15px 15px;
    text-align: center;
    border: 1px solid rgb(168, 168, 168);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    


}

#feature {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    
}



#feature h6 {
    
    color: #424040;
    background-color: rgb(247, 233, 215);
    border-radius: 10px;
}
#FS,
#OO,
#SM,
#PM,
#HS,
#CS {
    height: 160px;
    width: 175px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}